*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

}
.root{
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;

}

body{
    min-height: 100vh;
    background: #FAF5E9;
    background: url('/images/bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    color: var(--text-color);
}

.profile_pic{
    padding-left:60rem;
    padding-top: 10rem;
}
.profile_pic img{
    height: 350px;
    width: 350px;
}

.header{
    background-color: #009B4D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    transition: all .50s ease;
}

.logo{
    display: flex;
    align-items: center;
}

.logo i{
    color: #FAF5E9;
    font-size: 28px;
    margin-right: 3px;
    
}

.logo span{
    color: #FAF5E9;
    font-size: 2rem;
    font-weight: 600;

}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 700px;
}

.home-content h1{
    font-size:43px;
    font-weight: 700;
    color: #FAF5E9;
    line-height: 1.2;
}

.home-content h3{
    font-size:30px;
    font-weight: 700;
    color: #FAF5E9;
}

.home-content p{
    font-size: 20px;
    color: #FAF5E9;
    padding-top: 2rem;
    font-weight: 300;
}

.home-icon{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-icon a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #FAF5E9;
    border-radius: 50%;
    font-size: 20px;
    color: #FAF5E9;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-icon a:hover{
    color: #009B4D;
}

.home-icon a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #FAF5E9;
    z-index: -1;
    transition: .5s;

}

.home-icon a:hover::before{
    width: 100%;
}


.about{
    display: flex;
    align-items: center;
    margin: 30px;
}

.navbar{
    display: flex;
}

.navbar a{
    color: #FAF5E9;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: black;
}


.main{
    display: flex;
    align-items: center;

}

.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: #FAF5E9;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.user{
    display: flex;
    align-items: center;

}

.user i{
    color:#FAF5E9;
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover{
    color: black;
}

#menu-icon{
    font-size: 35px;
    color: #FAF5E9;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media(max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media(max-width: 1090px){
    @menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 33vh;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all .50s ease;
    }
    .navbar a:hover{
        color:black;
        transform: translateY(5px);
    }
    .navbar a.active{
        color: #009B4D;
    }
    .navbar .open{
        right: 2%;
    }
}
